go 1.26.4

use (
	./blockchain
	./cache
	./database
	./database/examples
	./grpc
	./interfaces
	./network
	./observability
	./streams
	./streams/examples
	./streams/nats
	./streams/redis
	./telemetry
	./ulid
)
