go 1.26.4

use (
	./agents
	./blockchain
	./buffers
	./cache
	./database
	./database/examples
	./grpc
	./interfaces
	./network
	./observability
	./rfc
	./streams
	./streams/examples
	./telemetry
	./ulid
)
